<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="css/main.css">
  <title>Cummins | IOT</title>
</head>
<body>
  <div id="iotDiv">
    <nav style="background: red;" class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#"><img class="logo" src="img/logo.png"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a style="color: white" class="nav-link" href="portals.html">Home &nbsp;|<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a style="color: white" class="nav-link" href="#"><b>Manufacturing</b><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a style="color: white" class="nav-link" href="plp.html">Product Lines</a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-primary" onclick="location.href='defectNotification.html'">
              Defects <span class="badge badge-light">2</span>
            </button>
          </li>
        </ul>
      </div>
    </nav>

<br>
<h4>EQUIPMENT PERFORMANCE</h4>
<!-- <button class="btn btn-primary" onclick="href.location='defectNotification.html'">Defects</button> -->


  <div class="row">
         <div class="col-sm-3">
             <div class="card">
               <div id="sensorAvailabilityChart" style="height:200px; "></div>
             </div>
         </div>
         <div class="col-sm-3">
             <div class="card">
               <div id="sensorReliability" style="height:200px; "></div>
             </div>
         </div>
         <div class="col-sm-3">
             <div class="card">
               <div id="capacity" style="height:200px; "></div>
             </div>
         </div>
         <div class="col-sm-3">
             <div class="card">
               <div id="downtime" style="height:200px; "></div>
             </div>
         </div>
     </div>
     <br>
     <h4>Service Log</h4>

     <div class="row">
       <div class="col-sm-3 boxed">
         <h3>RFID: 07DFGS78F98</h3>
              <div class="row">
                <div class="col-sm-4"><h6><span style="color: red;">92%</span> Likelihood</h6></div>
                <div class="col-sm-4"><h6><span style="color: red;">3 Days</span> Time Remaining</h6></div>
         </div>
       </div>
       <div class="col-sm-1">
         <h5>&nbsp;</h5>
       </div>
       <div class="col-sm-3 boxed">
         <h3>RFID: 07DFGS78F98</h3>
              <div class="row">
         <div class="col-sm-4"><h6><span style="color: red;">92%</span> Likelihood</h6></div>
         <div class="col-sm-4"><h6><span style="color: red;">3 Days</span> Time Remaining</h6></div>
         </div>
       </div>
       <div class="col-sm-1">
         <h5>&nbsp;</h5>
       </div>
       <div class="col-sm-3 boxed">
         <h3>RFID: 07DFGS78F98</h3>
              <div class="row">
                <div class="col-sm-4"><h6><span style="color: red;">92%</span> Likelihood</h6></div>
                <div class="col-sm-4"><h6><span style="color: red;">3 Days</span> Time Remaining</h6></div>
         </div>
       </div>
     </div>

  <div class="row">
            <div class="col-sm-8">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>RFID #</th>
                            <th>status</th>
                            <th>lastServiceDate</th>
                            <th>lastServiceDescription</th>
                        </tr>
                    </thead>
                    <tbody v-if="serviceLog">
                        <tr v-for="item in serviceLog">
                            <td>{{item.rfid}}</td>
                            <td>{{item.status}}</td>
                            <td>{{item.lastServiceDate}}</td>
                            <td>{{item.lastServiceDescription}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
  </div>




      <!-- Footer -->
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="js/site.app.js"></script>
  </body>
  </html>
