<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="css/main.css">
  <title>Cummins | IOT</title>
</head>
<body>
  <div id="iotDiv">
    <nav style="background: red;" class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#"><img class="logo" src="img/logo.png"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a style="color: white" class="nav-link" href="portals.html">Home &nbsp;|<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a style="color: white" class="nav-link" href="iot.html">Manufacturing<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a style="color: white" class="nav-link" href="plp.html"><b>Product Lines</b></a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-primary" onclick="location.href='defectNotification.html'">
              Defects <span class="badge badge-light">2</span>
            </button>
          </li>
        </ul>
      </div>
    </nav>

<br>
<h4>Emmissions</h4>

  <div class="row">
         <div class="col-sm-3">
             <div class="card">
               <div id="sensorAvailabilityChart" style="height:200px; "></div>
             </div>
             Current Emmission Level: <h3>50</h3>
         </div>
         <div class="col-sm-3">
             <div class="card">
               <div id="sensorReliability" style="height:200px; "></div>
             </div>
                    Current Emmission Level: <h3>40</h3>
         </div>
         <div class="col-sm-3">
             <div class="card">
               <div id="capacity" style="height:200px; "></div>
             </div>
                    Current Emmission Level: <h3>70</h3>
         </div>
         <div class="col-sm-3">
             <div class="card">
               <div id="downtime" style="height:200px; "></div>
             </div>
                    Current Emmission Level: <h2><span style="color: red;">80</span></h2>
         </div>
     </div>
     <br>
     <h4>Sensor Performance</h4>

     <div class="row">
            <div class="col-sm-3">
                <div class="card">
                  <div id="sensorAvailabilityChart2" style="height:200px; "></div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                  <div id="sensorReliability2" style="height:200px; "></div>
                </div>
            </div>
        </div>

     <br>
     <h4>Emmission Compliance</h4>



  <div class="row">
            <div class="col-sm-8">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th># RFID Tags</th>
                            <th>Avg. Emmissions</th>
                            <th>EPA Compliant?</th>
                            <th>NHTSA Compliant?</th>
                            <th>CARB Compliant?</th>
                        </tr>
                    </thead>
                    <tbody v-if="emmissions">
                        <tr v-for="item in emmissions">
                            <td>{{item.product}}</td>
                            <td>{{item.numRfidTags}}</td>
                            <td>{{item.avgEmmission}}</td>
                            <td>{{item.epa}}</td>
                            <td>{{item.nhtsa}}</td>
                            <td>{{item.carb}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
  </div>

      <!-- Footer -->
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="js/emissions.app.js"></script>
  </body>
  </html>
